@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
scroll-behavior: smooth;
}

.row {
  width: 100%;
  max-width: 1390px;
  margin: 0 auto;
}

.container {
  padding: 16px;
}

body {
  background-color: black;
  color: white;
}

/* NAV */


nav {
  background-color: #121212;
  padding: 12px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
}

.logo {
  width: 64px;
  height: 32px;
}

.pro__logo {
  width: 86px;
  height: 36px;
}

.menu__bar {
  display: flex;
}

.nav__container {
 display: flex;
 align-items: center;
}

.nav__menu {
  color: white;
  font-size: 14px;
  margin-left: 18px;
  margin-right: 8px;
}

.nav__search
{
  width: 608px;
  padding: 8px;
  margin-left: 18px;
  margin-right: 4px;
}

.search__container
{
  position: relative;  
}

.fa-magnifying-glass {
  position: absolute;
  top: 10px;
  right: 14px;
  color: rgb(24, 24, 24);
}

.pro__logo{
  margin-top: 8px;
}


ul {
  display: flex;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  margin-left: 14px;
  color: white;
}


/* LANDING */

#slider .row{
  display: flex;
  justify-content: center;
}

.react-slideshow-container {
  width: 849px;
  height: 547px;
}

.backdrop__img {
  width: 849px;
  height: 547px;
}

.poster__slider {
  position: relative;
}

.poster__title { 
  font-size: 34px;
  font-weight: 500;
}

.backdrop {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30%;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(20, 20, 20, 0) 0, rgba(20, 20, 20, .15) 15%, rgba(20, 20, 20, 0.473) 29%, rgba(20, 20, 20, 0.664) 44%, #141414c1 68%, #141414d7 100%);
}


.poster__img {
  position: absolute;
  width: 165px;
  height: 244px;
  top: 55%;
  left:2%;
}

.poster__description--container {
display: flex;
flex-direction: column;
}

.poster__description--wrapper {
  display: flex;
  position: absolute;
  top: 75%;
  left: 24%;
}

.fa-circle-play {
  font-size: 74px;
  margin-right: 20px;
}

.poster__para {
  color: rgb(210, 205, 205);
}

.landing__slider {
  width: 65%;
}

.upnext__wrapper {
  width: 40%;
  margin-left: 22px;
}

.upnext__title {
  color: #f5c518;
  margin-bottom: 10px;
}

.upnext__img {
  width: 88px;
  height: 130px;
}

.upnext__poster--row {
  display: flex;
  background-color: #101010;
  padding: 14px;
  width: 440px;

  
}

.upnext__summary {
  margin-left: 16px;
  font-size: 18px;
}

.upnext__button {
  font-size: 32px;
  margin: 0;
}

.upnext__date {
  font-size: 14px;
  margin-left: 12px ;
}

.upnext__title--summary {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.upnext__trailer {
  margin-top: 14px;
}

/* FEATURED */

.featured__title{
  color: #f5c518;
  font-size: 34px;
}

.line {
  background-color: #d3e116; 
  width: 4px;
  height: 34px;
  border-radius: 8px;
  margin-right: 12px;
}


.featured__subtitle--wrapper {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.featured__subtitle {
  margin-right: 12px;
  font-size: 28px;
}

.fa-chevron-right {
  font-size: 24px;
}

.featured__para {
  margin-top: 12px;
  color: rgb(210, 205, 205);
}

.row__wrapper {
  display: flex;
  margin-top: 24px;
}

.movie__row--img {
  width: 185px;
  height: 274px;
}

.poster__container {
  margin-right: 28px;
  border-radius: 8px;
  background-color: #1a1a1a;
  height: 450px;
  position: relative;
}

.rating {
  margin-top: 10px;
  margin-left: 8px;
}



.movie__row--button {
  width: 169px;
  height: 36px;
  background-color: #30353c;
  border: none;
  border-radius: 8px;
  color: #5599ef;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  bottom: 5%;
  right: 5%;
  transition: all ease 300ms;
}

.movie__row--button:hover { 
  cursor: pointer;
  background-color: #434a53;
}


#featured .poster__title {
  font-size: 17px;
  font-weight: 400;
  margin-top: 8px;
  margin-left: 8px;

}
.fa-star {
    color: #f5c518;
  }


  .fa-star-half-stroke {
    color: #f5c518;
  } 


  #featured .react-slideshow-container {
 width: 1280px;
  }

  #movie__info {
    background-color: white;
    height: 100vh;
    color: black;
  }

  .movieinfo__title {
    font-size: 54px;
    font-weight: 400;
  }

  #movie__info .featured__subtitle--wrapper {
    margin-top: 84px;
  }
  #movie__info .featured__subtitle {
    font-size: 38px;
  }

  #movie__info .line {
    height: 48px;
  }


  .movie__wrapper {
    display: flex;
    margin-top: 44px;
  }

  .movie__poster--img {
    width: 386px;
    height: 500px;
  }

  .movie__image {
    width: 40%
  }

  .movie__description--wrapper {
    width: 70%;
  }

  .movie__title {
    font-size: 34px;
    font-weight: bold;
  }

.movie__year {
  margin-top: 14px;
}

.book__ratings {
  margin-top: 24px;
}

.movie__plot {
  margin-top: 24px;
  font-size: 18px;
  width: 60%;
}


@media only screen and (max-width: 480px) {

  html, body {
    max-width: 100%;
    overflow-x: hidden;
    padding-bottom: 144px;
}

  .search__container {
    display: none;
  }

  .pro__logo {
    display: none;
  }

  .nav__list--hide {
    display: none;
  }

  .nav__container {
    display: flex;
    width: 100vw;
    justify-content: space-between;
  }

  .logo__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
  }

  .logo {
    margin-left: 14px;
  }

  .nav__list {
    margin-right: 14px;
  }

  .menu__text {
    display: none;
  }

  .fa-bars {
    font-size: 20px;
  }

  .fa-magnifying-glass {
    margin-top: 2px;
    display: block;
    color: white;
    position: static;
    margin-right: 12px;
  }

  .backdrop__img {
    width: 408px;
    height: 300px;
  }

  .upnext__wrapper {
    display: none;
  }

  .landing__slider {
    width: 100%;
  }

  .react-slideshow-container {
    width: 408px;
    height: 300px;
  }

  .poster__img {
    width: 90px;
    height: 133px;
  }

  .fa-circle-play {
    font-size: 44px;
  }

  .poster__description--wrapper {
    display: flex;
    align-items: center;
    top: 80%;
    left: 30%;
  }

  .poster__title {
    font-size: 18px;
  }
  
  .poster__para {
    display: none;
  }

  .featured__title {
    font-size: 26px;
  }

  .featured__subtitle {
    font-size: 20px;
  }

  .line {
    height: 34px;
  }

  .fa-chevron-right {
    font-size: 24px;
  }

  .movie__row {
    margin-top: 104px;
  }

  .react-slideshow-container .default-nav:first-of-type {
    margin-right: -30px;
    border-right: 0;
    border-top: 0;
    display: none;
  }
  
  .react-slideshow-container .default-nav:last-of-type {
    margin-left: -30px;
    display: none;
  }
}